.idea
.history
.vscode
.DS_Store
*.js
*.log
*.map
*.tgz
*.aar
!src/angular/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
demo/lib
demo/platforms
node_modules
demo/hooks/
publish/package/
ngdemo/lib
ngdemo/platoforms
ngdemo/node_modules
ngdemo/hooks
