<ActionBar title="Ng Mapbox Demo" class="action-bar">
</ActionBar>

<StackLayout class="page" id="page">
  <Placeholder (creatingView)="creatingView($event)" id="mapContainer"></Placeholder>
<!--
  <Mapbox id="testmap"
    accessToken="sk.eyJ1IjoiZWRkeXZlcmJydWdnZW4iLCJhIjoia1JpRW82NCJ9.OgnvpsKzB3GJhzyofQNUBw"
    mapStyle="light"
    latitude="39.007846"
    longitude="-76.947041"
    zoomLevel="7"
    delay="450"
    showUserLocation="true"
    hideCompass="false"
    hideAttribution="false"
    hideLogo="false"
    disableZoom="false"
    disableRotation="true"
    disableScroll="false"
    disableTilt="false"
    (mapReady)="onMapReady($event)">
  </Mapbox>
-->
</StackLayout>
